 table,td, th {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 20px;
}

img {
    padding: 0px;
}

.tipo {
    text-align: left;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    font-size: 25px;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.link1 {
    color: rgb(153, 153, 255);
    font-size: 22px;
        }

.link1:hover {
    color: yellowgreen;
        }

.link1:active {
    color: rgb(109, 109, 255);
        }

.link2 {
    color: rgb(153, 153, 255);
    font-size: 22px;
        }

.link2:hover {
    color: rgb(46, 46, 252);
        }

.link2:active {
    color: rgb(109, 109, 255);
        }

.link3 {
    color: rgb(153, 153, 255);
    font-size: 22px;
        }

.link3:hover {
    color: rgb(138, 14, 226);
        }

.link3:active {
    color: rgb(109, 109, 255);
        }

.link4 {
    color: rgb(153, 153, 255);
    font-size: 22px;
        }

.link4:hover {
    color: magenta;
        }

.link4:active {
    color: rgb(109, 109, 255);
        }

.link5 {
    color: rgb(153, 153, 255);
    font-size: 22px;
        }

.link5:hover {
    color: red;
        }

.link5:active {
    color: rgb(109, 109, 255);
        }

.link6 {
    color: rgb(153, 153, 255);
    font-size: 22px;
        }

.link6:hover {
    color: goldenrod;
        }

.link6:active {
    color: rgb(109, 109, 255);
        }

.filmes {
    left: 920px;
    top: -260px;
    position: relative;
    width: 210px;
    height: 285px;
    padding-left: 5px;
    font-size: 25px;
    border: 2px solid white;
}

p {
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h4 {
    padding-left: 20px;
}

